.contato {
    position: relative;
    background: linear-gradient(to right, #2a042e, #b319cb, #4d019a);
    background-size: 180% 180%;
    animation: gradient-animation 12s ease infinite;
    overflow: hidden;
    border-radius: 20px;
    border: 2px solid #fff;
    flex: 1;
    width: 95%;
    max-height: 100%;
    padding: 140px 0 0;
    margin: 0 auto;
    margin-bottom: 60px;
}

.contato .titulo {
    text-align: center;
    font-size: 45px;
    font-weight: 500;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.8);
    margin-bottom: 50px;
}

.container-contato {
    position: relative;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    overflow: auto;
}

.form {
    width: 100%;
    max-width: 1600px;
    max-height: 100%;
    background-color: #ffd0fd;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
}

.contact-form {
    background-color: #6c0957;
    position: relative;
}

.contact-form:before {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #6c0957;
    transform: rotate(45deg);
    top: 50px;
    left: -13px;
}

form {
    padding: 2.3rem 2.2rem;
    overflow: hidden;
    position: relative;
}

.title {
    color: #fff;
    font-weight: 500;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0.7rem;
}

.input-container {
    position: relative;
    margin: 1rem 0;
}

.input {
    width: 100%;
    outline: none;
    border: 2px solid #fafafa;
    background: none;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-weight: 500;
    font-size: 0.95rem;
    letter-spacing: 0.5px;
    border-radius: 25px;
    transition: 0.3s;
}

textarea.input {
    padding: 0.8rem 1.2rem;
    min-height: 150px;
    border-radius: 22px;
    resize: none;
    overflow-y: auto;
}

.input-container label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    padding: 0 0.4rem;
    color: #fafafa;
    font-size: 0.8rem;
    font-weight: 400;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}

.input-container.textarea label {
    top: 1rem;
    transform: translateY(0);
}

#enviar {
    padding: 0.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #fafafa;
    font-size: 1.3em;
    color: #6c0957;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    transition: 0.3s;
    margin: 0;
    font-family: "Dosis", sans-serif;
}

#enviar:hover {
    background-color: #6c0957;
    color: #fff;
    font-weight: bold;
}

.input-container span {
    position: absolute;
    top: 0;
    left: 25px;
    transform: translateY(-50%);
    font-size: 0.8rem;
    padding: 0 0.4rem;
    color: transparent;
    pointer-events: none;
    z-index: 500;
}

.input-container span:before,
.input-container span:after {
    content: "";
    position: absolute;
    width: 10%;
    opacity: 0;
    transition: 0.3s;
    height: 5px;
    background-color: #6c0957;
    top: 50%;
    transform: translateY(-50%);
}

.input-container span:before {
    left: 50%;
}

.input-container span:after {
    right: 50%;
}

.input-container.focus label {
    top: 0;
    transform: translateY(-50%);
    left: 25px;
    font-size: 0.8rem;
}

.input-container.focus span:before,
.input-container.focus span:after {
    width: 50%;
    opacity: 1;
}

.contact-info {
    padding: 1.3rem 1.3rem;
    position: relative;
}

.contact-info h3 {
    color: #6c0957;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.contact-info p {
    color: #000000;
    font-size: 1.1em;
}

.contact-form {
    padding: 1.3rem 1.3rem;
    position: relative;
}

.contact-form h3 {
    color: #ffffff;
    font-size: 1.5em;
    margin-bottom: 60px;
}

.contact-form p {
    color: #000000;
    font-size: 1.1em;
}

.information {
    display: flex;
    color: #555;
    margin: 0.7rem 0;
    align-items: center;
    font-size: 0.95rem;
}

.information .icone {
    font-size: 2em;
    margin-right: 25px;
    color: #780778;
    background: #ffffff;
    border-radius: 50%;
    border: 2px solid #2a042e;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information .fa-regular.fa-envelope:hover {
    animation: flying-paper 1s ease forwards;
}

@keyframes flying-paper {
    0% {
        transform: rotate(0deg) translate(0, 0);
        opacity: 1;
    }

    50% {
        transform: rotate(55deg) translate(-30px, -30px);
        opacity: 0.5;
    }

    100% {
        transform: rotate(90deg) translate(-40px, -40px);
        opacity: 0;
    }
}

.information .fa-phone-volume:hover {
    animation: shake-rotate 0.35s infinite;
}

@keyframes shake-rotate {
    0%, 100% {
      transform: translateX(0) rotate(0);
    }
    25% {
      transform: translateX(-3px) rotate(-35deg);
    }
    50% {
      transform: translateX(2px) rotate(15deg);
    }
    75% {
      transform: translateX(-2px) rotate(-25deg);
    }
}
  
.information .dados-email,
.information .dados-contato {
    color: #380953;
    font-weight: bold;
    margin-bottom: 15px;
}

.btn-email {
    padding: 10px 20px;
    background-color: #6c0957;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: "Dosis", sans-serif;
    font-size: 16px;
    transition: background-color 0.3s;
    transition: background-color 0.3s, transform 0.3s ease;
}
  
.btn-email .fas.fa-copy {
    margin-left: 10px;
}
  
.btn-email:hover {
    background-color: #861ab1;
    font-weight: bold;
    transform: scale(1.1);
}

.btn-email:hover .fas.fa-copy {
    animation: pulseIcon 1s infinite, moveIcon 0.3s infinite;
}

.btn-email:hover .fas.fa-copy {
    animation: pulseIcon 1s infinite, moveIcon 0.3s infinite;
}

@keyframes pulseIcon {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes moveIcon {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-3px);
    }
}

.emote-info {
    width: 120px; /* Ajuste conforme necessário */
    height: 120px; /* Ajuste conforme necessário */
    max-width: 150px;
}

.social-media {
    padding: 2rem 0 0 0;
}

.social-media .redes-sociais {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3em;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-media .redes-sociais a {
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    margin: 7px;
    border-radius: 50%;
    background: linear-gradient(180deg, #ff92e7, #6c0957);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.social-media .redes-sociais a:hover {
    transform: scale(1.2);
}

.contact-info:before {
    content: "";
    position: absolute;
    width: 110px;
    height: 100px;
    border: 22px solid #6c0957;
    border-radius: 50%;
    bottom: -77px;
    right: 50px;
    opacity: 0.5;
}

.circle {
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%, #ff92e7);
    position: absolute;
}

.circle.one {
    width: 130px;
    height: 130px;
    top: 130px;
    right: -20px;
}

.circle.two {
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}

.big-circle {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: linear-gradient(to bottom, #ff92e758, #6c095784);
    bottom: 50%;
    right: 50%;
    transform: translate(-40%, 18%);
    z-index: 0;
}

.big-circle:after {
    content: "";
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: transparent;
    border-radius: 50%;
    top: calc(50% - 180px);
    left: calc(50% - 180px);
    z-index: 1;
}

#enviar>.fas.fa-paper-plane {
    margin-left: 5px;
    position: relative;
}

#enviar:hover>.fas.fa-paper-plane {
    animation: flying-paper 2s ease forwards;
}

@keyframes flying-paper {
    0% {
        transform: rotate(0deg) translate(0, 0);
        opacity: 1;
    }

    50% {
        transform: rotate(45deg) translate(-20px, -20px);
        opacity: 0.5;
    }

    100% {
        transform: rotate(90deg) translate(-40px, -40px);
        opacity: 0;
    }
}